body{
margin: 0;
background-color: #fff;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    header > img{

    }
    main{

    }
 div{

 }
h2{
    margin: 0;

}
p{
    margin: 0;
}
    
   
    

}